<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tu4"> <!-- 调用摄像机 -->
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InstrumentClassifyActivity"
            android:label="@string/title_activity_inatrument_classify_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.SubjectDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.LogisticsTrackingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.CourseSubscribeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.OrderPaymentActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.PaySuccessActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.DateActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.HelpCenterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.Student_feedbackActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".activity.ComplaintsSuggestionsActivity">

        </activity>

        <activity
            android:name=".activity.SelectDressActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity
            android:name=".activity.EditDressActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".activity.TransactionRecordsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".activity.SystemInformationActivity" />
        <activity android:name=".activity.MyWorksActivity" />
        <activity android:name=".activity.MyWorksDeleteActivity" />
        <activity android:name=".activity.VideoRecordActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.HeadPortraitActivity" />
        <activity android:name=".activity.PersonalDataActivity" />
        <activity android:name=".activity.MyLeaveWordsActivity"></activity>
        <activity android:name=".activity.ConnectUsActivity"></activity>
        <activity android:name=".activity.OrderDetailsMainActivity"></activity>
        <activity android:name=".activity.BookingOrderActivity"></activity>
    </application>

</manifest>